# Run scripts:
# Run main application: pipenv run python app/main.py
# Run tests (skip integration): pipenv run pytest -m "not integration"
# Run all tests: pipenv run pytest
# Run tests with coverage and HTML report: pipenv run pytest --cov=src --cov=tests --cov-report=html --cov-report=term-missing -m "not integration"
# View HTML coverage report: open htmlcov/index.html
# Run MyPy type checking: pipenv run mypy --explicit-package-bases .

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
inflection = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.12"
